<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ng-class="{ 'active': page.active }" ng-repeat="page in pages">
        <a href="javascript:void(0)" class="nav-link" ng-click="navigate(page)" ui-sref-active="active"> {{page.menuName}}
          <i class="far" ng-class="page.icon"></i>
          <span class="sr-only" ng-if="page.active == true">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
