<div class="row">
  <div class="col-sm-12">
    <div class="card bg-light">
      <!-- <div class="card-header">Header</div> -->
      <div class="card-body">
        <h4 class="card-title">Skills</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, maxime voluptates vel natus, voluptas vitae velit nostrum sed facilis, ducimus incidunt tempore eligendi dicta totam? Ipsum quo delectus non repudiandae.</p>

        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card bg-secondary">
              <div class="card-header">Front End</div>
              <div class="card-body">
                <h4 class="card-title">Skills</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, maxime voluptates vel natus, voluptas vitae velit nostrum sed facilis, ducimus incidunt tempore eligendi dicta totam? Ipsum quo delectus non repudiandae.</p>
              </div>
              <ul class="list-group list-group-flush text-dark">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a class="btn btn-primary btn-lg" href="javascript:void(0)" ui-sref="contact" role="button">Contact Me</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card bg-dark text-white">
              <div class="card-header">Back End / Server Side</div>
              <div class="card-body">
                <h4 class="card-title">Skills</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, maxime voluptates vel natus, voluptas vitae velit nostrum sed facilis, ducimus incidunt tempore eligendi dicta totam? Ipsum quo delectus non repudiandae.</p>
              </div>
              <ul class="list-group list-group-flush text-dark">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a class="btn btn-primary btn-lg" href="javascript:void(0)" ui-sref="contact" role="button">Contact Me</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card bg-success text-white">
              <div class="card-header">Devops</div>
              <div class="card-body">
                <h4 class="card-title">Skills</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, maxime voluptates vel natus, voluptas vitae velit nostrum sed facilis, ducimus incidunt tempore eligendi dicta totam? Ipsum quo delectus non repudiandae.</p>
              </div>
              <ul class="list-group list-group-flush text-dark">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a class="btn btn-primary btn-lg" href="javascript:void(0)" ui-sref="contact" role="button">Contact Me</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
