<div class="row">
  <div class="col-sm-12">
    <div class="card bg-light">
      <!-- <div class="card-header">Header</div> -->
      <div class="card-body">
        <h4 class="card-title">Skills</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, maxime voluptates vel natus, voluptas vitae velit nostrum sed facilis, ducimus incidunt tempore eligendi dicta totam? Ipsum quo delectus non repudiandae.</p>
      </div>
    </div>
  </div>
</div>
